body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #AAA
}

a {
  color: #00B7FF;
}
.order {
  list-style-type: none;
  margin: 10px;
  padding-left: 5px;
  border: 2px solid black;
  width: 20%;
  min-height: 350px;
  display: inline-block;
  vertical-align: top;
  background-color: #FFF;
}
.orderItem {
  list-style-type: none;
  border: 1px solid black;
  margin: 1px auto;
  width: 70%;
  background-color: #6AA;
}
.orderTotal {
  margin-bottom: 10px;
}
